config button
	option button 'reset'
	option action 'released'
	option handler '/etc/btnaction reset_short'
	option min '5'
	option max '10'

config button
	option button 'reset'
	option action 'released'
	option handler '/etc/btnaction reset_long'
	option min '10'
	option max '20'

config button
	option button 'wps'
	option action 'released'
	option handler '/etc/btnaction qss_short'
	option min '0'
	option max '3'

config button
	option button 'wps'
	option action 'released'
	option handler '/etc/btnaction qss_long'
	option min '2'
	option max '30'