<%+header%>
<% 
local has_license = fs.access("/etc/opt/first_time.txt")
local has_eap = fs.access("/tmp/eap")
%>
<!--h2><a id="content" name="content"><%:Info %></a></h2-->

<fieldset class="cbi-section">
	<strong>Info</strong><hr/>
	<table width="100%" cellspacing="6">
		<tr><td width="15%"><%:Team:%></td><td>WIFIMEDIA</td></tr>
		<tr><td width="15%"><%:Website:%></td><td><a href="https://wifimedia.vn">www.wifimedia.vn</a></td></tr>
		<tr><td width="15%"><%:Email:%></td><td><a href=" " target="_blank">itvnbk@gmail.com</a></td></tr>
		<% if has_license then %>
		<tr><td width="15%"><%:Activation code:%></td><td><a href=" " target="_blank"><%=luci.sys.exec("cat /etc/opt/license/status | cut -c 10,9,8,7,6,5,4,3,2,1")%></a></td></tr>
		<% end %>
	</table>	
</fieldset>
<% if has_eap  then %>
<fieldset class="cbi-section">
<strong>Access Point</strong><hr/>

<%
print(luci.sys.exec("cat /tmp/eap | awk 'BEGIN {print \"<table><tr><th>TT</th><th>MAC Address</th><th>IP Address</th></tr>\";} {print \"<tr><td align=center>\", i++,\"</td><td align=center> <a \"$2,\">\",$1,\"<a></td><td align=center> <a href=\"$3,\">\",$2,\"<a></td><td></tr>\";} END {print \"</table>\"}'"))

%>
</fieldset>
<% end %>
<%+footer%>