
config privoxy 'privoxy'
	option confdir '/etc/privoxy'
	#option logdir '/var/log'
	#option logfile 'privoxy.log'
	list filterfile 'user.filter'
	list filterfile 'useracl.filter'
	list filterfile 'news.filter'
	#list actionsfile 'match-all.action'
	list actionsfile 'user.action'
	list actionsfile 'useracl.action'
	list actionsfile 'news.action'
	option toggle '1'
	option enable_remote_toggle '1'
	option enable_remote_http_toggle '1'
	option enable_edit_actions '0'
	option enforce_blocks '0'
	option buffer_limit '4096'
	option forwarded_connect_retries '0'
	option accept_intercepted_requests '1'
	option allow_cgi_request_crunching '0'
	option split_large_forms '1'
	option keep_alive_timeout '5'
	option socket_timeout '300'
	option debug_1 '0'
	option debug_512 '0'
	option debug_1024 '0'
	option debug_4096 '0'
	option debug_8192 '0'
	option max_client_connections '500'
	option permit_access '172.16.99.10/24:8118'
	option listen_address '172.16.99.1:8118'
	